/**
 * Tweeki screen styles
 *
 * part of this has been taken from Garret LeSage's Strapping
 */


/* correction for internal links with fixed navbar */
.with-navbar.with-navbar-fixed .mw-headline {
	padding-top: 70px;
}


/**
 * CONTENT 
 */

#content {
	clear:both;
	margin-bottom:1em;
	padding-top:.5em;
	padding-bottom:1em;
}

@media (min-width: 768px) {
	#content {
		padding:1em 2em;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
}

/**
 * SEARCH 
 */

.mw-search-createlink {
	text-align:center;
}

/* If there are no permissions to edit pages,
	do not display the create link on a no-results search */
.not-editable .mw-search-createlink {
	display: none;
}

.mw-search-results {
	margin: 20px;
}

.searchresult {
	color: #555;
}

.searchmatch {
	color: #333;
}

.mw-search-result-data {
	color: #999;
}

.mw-search-nonefound {
	color: #999;
	font-size: 2em;
	padding: 1em;
	text-align: center;
}

.mw-search-pager-bottom {
	position: relative;
	color: transparent;
}

.mw-search-pager-bottom a {
	float: left;
	padding: 0 20px;
}

.mw-numlink {
	display: none;
}


/**
 * PREFERENCES 
 */

/* TODO: is this just a duplication of Bootstrap's nav-tabs? 
 then we should mark it somehow to check after updates... */

#preferences .mainLegend {
	display: none;
}

#preftoc {
	margin: 40px 0 -2px;
}

#preferences {
	border: 1px solid #ccc;
	margin: 0 20px;
}

#preftoc ul,
#preftoc li {
	display: inline;
	list-style: none;
}

#preftoc li a {
	position: relative;
	z-index: 2;
	font: inherit;
	margin: 0;
	padding: 8px 15px;
	display: inline-block;
}

#preftoc li.selected a {
	background-color: white;
	border: 1px solid #ccc;
	border-bottom: none;
	border-radius: 6px 6px 0 0;
	color: inherit;
	cursor: default;
	padding: 7px 14px;
}

#preferences fieldset.prefsection {
	margin: 0;
	padding: 40px;
}

#preferences legend {
	border-bottom: none;
}

#preferences fieldset + fieldset > legend {
	padding-top: 40px;
}

#preferences .mw-label label {
	white-space: nowrap;
	margin: 0;
	color: #777;
}

#preferences td {
	padding: 5px;
}

#preferences .htmlform-tip {
	color: #999;
	padding: 1em 0 3em 12em;
}

#preferences div.mw-prefs-buttons {
	margin: 20px auto 0;
	padding: 40px 40px 20px;
	text-align: center;
	overflow: hidden;
}

.mw-prefs-buttons a,
.mw-prefs-buttons input {
	font: inherit;
	padding: 3px 15px;
}

.mw-prefs-buttons a {
	padding: 8px 20px;
	float: left;
}

.mw-prefs-buttons input {
	float: right;
}


/**
 * HISTORY 
 */

#contentSub br {
	display: none;
}

#mw-revision-info,
#mw-revision-nav {
	background: #f6f6f6;
	border: 1px solid #eee;
	display: block;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	width: auto;
}

#mw-revision-info {
	border-bottom: none;
	border-radius: 6px 6px 0 0;
	font-size: 16px;
	padding-bottom: 0.25em;
}

#mw-revision-nav {
	border-radius: 0 0 6px 6px;
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}

/**
 * LINK SYMBOLS 
 */

#content a.external,
#content a.external[href ^="gopher://"] {
	/* @embed */
	background: url(images/external-link-ltr-icon.png) center right no-repeat;
	padding-right: 13px;
}
#content a.external[href ^="https://"],
.link-https {
	/* @embed */
	background: url(images/lock-icon.png) center right no-repeat;
	padding-right: 13px;
}
#content a.external[href ^="mailto:"],
.link-mailto {
	/* @embed */
	background: url(images/mail-icon.png) center right no-repeat;
	padding-right: 13px;
}
#content a.external[href ^="news:"] {
	/* @embed */
	background: url(images/news-icon.png) center right no-repeat;
	padding-right: 13px;
}
#content a.external[href ^="ftp://"],
.link-ftp {
	/* @embed */
	background: url(images/file-icon.png) center right no-repeat;
	padding-right: 13px;
}
#content a.external[href ^="irc://"],
#content a.external[href ^="ircs://"],
.link-irc {
	/* @embed */
	background: url(images/talk-icon.png) center right no-repeat;
	padding-right: 13px;
}
#content a.external[href $=".ogg"], #content a.external[href $=".OGG"],
#content a.external[href $=".mid"], #content a.external[href $=".MID"],
#content a.external[href $=".midi"], #content a.external[href $=".MIDI"],
#content a.external[href $=".mp3"], #content a.external[href $=".MP3"],
#content a.external[href $=".wav"], #content a.external[href $=".WAV"],
#content a.external[href $=".wma"], #content a.external[href $=".WMA"],
.link-audio {
	/* @embed */
	background: url(images/audio-icon.png) center right no-repeat;
	padding-right: 13px;
}
#content a.external[href $=".ogm"], #content a.external[href $=".OGM"],
#content a.external[href $=".avi"], #content a.external[href $=".AVI"],
#content a.external[href $=".mpeg"], #content a.external[href $=".MPEG"],
.link-video {
	/* @embed */
	background: url(images/video-icon.png) center right no-repeat;
	padding-right: 13px;
}


/**
 * SIDEBAR 
 */
.sidebar-wrapper {
	position:absolute;
	width:100%;
	height:0;
	top:83px;
}
.sidebar-container,
.sidebar-container .row {
	height:0;
}
@media (max-width: 992px) {
	.sidebar-wrapper {
		position:static;
	}
	#sidebar .dropdown-menu {
		position:static;
	}
	#sidebar #toctitle, #sidebar #tweekiTOC {
		display:none;
	}
}


/**
 * TOC 
 */
#toc {
	width:100%;
}

#toctitle h2 {
	font-size:12pt;
	margin:0;
	margin-top:15px;
	color:#999;
	text-align:center;
	line-height:1.7em;
	font-weight:300;
}

#toctitle h2 a {
	font-size: 10pt;
	font-weight: normal;
	padding-left: 5px;
}

#sidebar #tweekiTOC {
	position:relative;
	height:100%;
	overflow:hidden;
	width:105%;
}

/* hide by default and make it visible by javascript only */
#tweekiDropdownTOC {
	display:none;
}
#toc {
	display:none;
}

#toc ul > li > ul {
	display:none;
}

#toc ul > li > ul a {
	font-size: small;
}

#toc li.active > ul {
	display:block;
}

#toc li.active {
	background:#eee;
}

#toc li.active > a {
	font-style: italic;
	border-right: 2px solid #bbb;
}

#toc ul, .toc ul {
	margin:0 !important;
}
	
#toc .nav > li > a {
	padding: 0px 5px;
}

#toc .nav > li.toclevel-1 > a {
	padding: 2px 5px;
}

#toc .nav .nav li {
	padding-left:15px;
}

.toctoggle {
	display:none;
}

.tocnumber {
	display:none;
}

/**
 * FOOTER 
 */

#footer {
	position:static;
	bottom:-.1em;
	left:0;
	width:100%;
	background:#eee;
	padding:.5em 0;
	color:#555;
	text-align:center;
	font-size:9pt;
}
#footer .btn {
	font-size:9pt;
	padding:0;
	margin:0;
}
#footer > ul,
#footer > ul li {
	padding: 0;
	list-style: none;
}
#footer > ul li {
	display:inline-block;
}

/* sticky footer (requires javascript) */
#footer.footer-sticky {
	position:static;
	opacity: 0; //initially hidden
}
#footer.footer-sticky.sticky-fixed {
	position:fixed;
}

/* fixed footer */
#footer.footer-fixed {
	position:fixed;
}

#footer-info li,
#footer-places li, 
#footer-icons span {
	margin-right:.5em;
	margin-left:0;
}
#footer-custom > * {
	margin-right:1em;
	margin-left:0;
}

#footer-places li+li:before, 
#footer-icons span+span:before,
ul + #footer-custom:before {
	content: "·";
	margin-right:.5em;
}

#footer > ul {
	margin:0 auto;
	display:inline-block;
}

#footer #footer-icons {
	display:block;
}


/**
 * SMOOTH DIV SCROLL 
 */

/* Invisible top hotspot */
div.scrollingHotSpotTop
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
		and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	height: 30px;
	width: 100%;
	position: absolute;
	z-index: 200;
	top: 0;
	/*	The first url is for Firefox and other browsers, the second is for Internet Explorer */
	cursor: url(images/cursors/cursor_arrow_up.png), url(images/cursors/cursor_arrow_up.cur),w-resize;
}

/* Visible top hotspot */
div.scrollingHotSpotTopVisible
{
	background-position: center center;
	background-image: url(images/arrow_up.gif);				
	background-color: #ddd;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible bottom hotspot */
div.scrollingHotSpotBottom
{
	height: 30px;
	width: 100%;
	position: absolute;
	z-index: 200;
	bottom: 0;
	cursor: url(images/cursors/cursor_arrow_down.png), url(images/cursors/cursor_arrow_down.cur),e-resize;
}

/* Visible bottom hotspot */
div.scrollingHotSpotBottomVisible
{
	background-position: center center;
	background-image: url(images/arrow_down.gif);
	background-color: #ddd;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
	 Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: 100%;
	height: auto;
}


/**
 * SUGGESTIONS 
 */
/* TODO: do we have to load 'em? */

.suggestions {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	border: none;
	z-index: 1031;
	padding: 0;
	margin: -1px 0 0 0;
}

.suggestions-special {
	position: relative;
	background-color: Window;
	font-size: 0.8em;
	cursor: pointer;
	border: solid 1px #aaaaaa;
	padding: 0;
	margin: 0;
	margin-top: -2px;
	display: none;
	padding: 0.25em 0.25em;
	line-height: 1.25em;
}

.suggestions-results {
	background-color: white;
	background-color: Window;
	font-size: 0.8em;
	cursor: pointer;
	border: solid 1px #aaaaaa;
	padding: 0;
	margin: 0;
}

.suggestions-result {
	color: black;
	color: WindowText;
	margin: 0;
	line-height: 1.5em;
	padding: 0.01em 0.25em;
}

.suggestions-result-current {
	background-color: #4C59A6;
	background-color: Highlight;
	color: white;
	color: HighlightText;
}

.suggestions-special .special-label {
	font-size: 0.8em;
	color: gray;
}

.suggestions-special .special-query {
	color: black;
	font-style: italic;
}

.suggestions-special .special-hover {
	background-color: silver;
}

.suggestions-result-current .special-label,
.suggestions-result-current .special-query {
	color: white;
	color: HighlightText;
}

.autoellipsis-matched,
.highlight {
	font-weight: bold;
}


/**
 * NAVIGATION 
 */

/* switch off responsiveness for navbar (should stay above) */
/* TODO: do we need it? maybe it was only necessary when we had
the navigation after the main content in the code */
.navbar-fixed-top, 
.navbar-fixed-bottom {
		position: fixed;
}

@media (max-width: 767px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
			margin-left: 0 !important;
			margin-right: 0 !important;
	}
	.navbar-fixed-top .pull-left, .navbar-fixed-bottom .pull-left, 
	.navbar-fixed-top .pull-right, .navbar-fixed-bottom .pull-right {
		float:none;
	}
}


/**
 * EDIT BUTTON 
 */
.btn-group .btn-edit:first-child {
	width:85%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
	
.btn-group .btn-edit+.btn-edit {
	width:15%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/** 
 * CORRECTION FOR MAIN CONTENT
 */
.with-navbar {
}

.without-navbar {
	padding-top:20px;
}

.with-navbar.with-navbar-fixed {
	padding-top:60px;
}
	
/* navigation - accessibility */
#mw-navigation h2 {
		position: absolute;
		top: -9999px;
}

/* image in brand */
.navbar-brand img {
	height:40px;
	margin-top:-10px;
}

/* correction for searchform in navbar */
#searchform + .navbar-nav.navbar-right:last-child {
		margin-right: 0;
}

/* correction for dropdowns (conflicting with mediawiki.legacy.shared) */
.mw-content-ltr ul.dropdown-menu {
	margin: 2px 0 0;
	padding: 5px 0;
}

/* correction for selflinks in dropdowns (they're no links actually) */
.dropdown-menu > li > .selflink {
	padding: 3px 20px;
	display: block;
}

/* LOGIN-EXT */
#loginext {
	padding:0 10px;
}
@media (min-width: 767px) {
	#loginext {
		width:250px;
	}
}
		
#loginext .form-group {
		margin-bottom:2px;
}

#loginext #wpLoginAttempt2 {
		margin-top:8px;
		margin-bottom:5px;
}

#loginext label {
		margin-bottom: 3px;
}


/** 
 * SMALL CORRECTIONS
 */

/* postedit: would otherwise be hidden behind navbar */
.postedit {
	top: 5em !important;
}

/* editsectionlink: hide brackets */
.mw-editsection-bracket {
	display:none;
}

/* editsectionlink: make it float right */
.mw-editsection {
	float:right;
	line-height:.9em;
}

/* hide categories */
#catlinks {
	display:none;
}

/* make edit window bigger */
#wpTextbox1 {
	width:100%;
} 

.firstHeading, 
.tweekiFirstHeading { 
	text-align:center;
	margin-bottom:15px;
	margin-top:10px;
	font-weight:600;
	letter-spacing:-.01em;
}

.tweekiFirstHeading {
	background-color:#fff;
	border:1px dashed #ccc;
	padding:5px;
	border-radius:2px;
}

.firstHeading .namespace {
	font-weight:300;
}

/* Hide empty portlets */
div.emptyPortlet {
	display: none;
}

/* Sub-navigation */
#siteSub {
	display: none;
}

#jump-to-nav {
	display: none;
}

div#content .printfooter {
	display: none;
}

label {
	display:inline-block;
	padding-top:5px;
}

input[type=radio], input[type=checkbox] {
	margin:-2px 0 0;
}

