body #contentwrapper #maincontentwrapper {
	.oo-ui-textInputWidget .oo-ui-inputWidget-input {
		@extend .form-control;
	}

	.oo-ui-textInputWidget.oo-ui-iconElement .oo-ui-inputWidget-input {
		padding-left: 2.42857143em;
	}

	.oo-ui-textInputWidget.oo-ui-indicatorElement .oo-ui-inputWidget-input {
		padding-right: 28px;
	}

	.mw-ui-checkbox:not(#noop) [type="checkbox"]:enabled:checked + label::before {
		background-color:$primary;
		border-color:$primary;
	}
}


// Form elements (e.g. in the upload form)
.mw-htmlform-field-HTMLTextField input {
	@extend .form-control;
}
.mw-input {
	textarea,
	select {
		@extend .form-control;
	}
	select {
		background-color:transparent;
	}
}


