body #contentwrapper #maincontentwrapper {
	.oo-ui-textInputWidget .oo-ui-inputWidget-input {
		@extend .form-control;
	}

	.oo-ui-textInputWidget.oo-ui-iconElement .oo-ui-inputWidget-input {
		padding-left: 2.42857143em;
	}

	.oo-ui-textInputWidget.oo-ui-indicatorElement .oo-ui-inputWidget-input {
		padding-right: 28px;
	}

	.oo-ui-textInputWidget.oo-ui-comboBoxInputWidget .oo-ui-inputWidget-input {
		border-top-right-radius:0;
		border-bottom-right-radius:0;
	}

	.mw-ui-checkbox:not(#noop) [type="checkbox"]:enabled:checked + label::before {
		background-color:$primary;
		border-color:$primary;
	}
}


// Form elements (e.g. in the upload form)
.mw-htmlform-field-HTMLTextField input {
	@extend .form-control;
}
.mw-input {
	textarea,
	select {
		@extend .form-control;
	}
	select {
		background-color:transparent;
	}
}


// datepicker
.pfPickerWrapper {
	display: inline-block;
}
.pfDatePicker.oo-ui-textInputWidget {
	width:200px;
}

.oo-ui-checkboxInputWidget + t {
	margin-left:8px;
}

// ugly hack: without it, checkboxes are only partly clickable
.oo-ui-checkboxInputWidget {
	width: 1.42857143em;
}
#maincontentwrapper #pfForm select, 
#maincontentwrapper #pfForm input[type="checkbox"] {
	width: 100% !important;
}


.multipleTemplateInstance {
	background-color:$light !important;
}