/**
 * Grid spacing
 */

// #contentwrapper {
//   padding-top: $spacer * 3;
//   padding-bottom: $spacer * 3;
//   min-height: 70vh;
// }


.navbar {
  .form-group {
    // margin-bottom: 0;
  }

  .nav.icon {
    @extend .nav-item;
  }
}


// #ca-unwatch,
// #ca-watch {
//   &.icon a {
//     width: $spacer;
//     height: $spacer;
//     display: inline-block;
//     background: fuchsia;
//   }
// }

html {
  height: 100% !important;
}

body {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;

  .formtable {
    @extend .table;
  }

  .oo-ui {
    &-buttonElement {
      & > * {
        font-weight: normal !important;
      }
    }

    &-buttonElement-button {
      @extend .btn;

      padding: $spacer * 0.3 $spacer !important;
    }

    &-widget-enabled {
      [type="checkbox"] {
        &:checked {
          & + span {
            background-color: $primary !important;
            border-color: $primary !important;
          }
        }
      }
    }
  }

  .cancelLink {
    .oo-ui-buttonElement-button,
    .oo-ui-buttonInputWidget {
      background: $danger;

      .oo-ui-labelElement-label {
        color: $white;
      }
    }
  }

  .editButtons {
    .editHelp {
      margin: $spacer * 0.5 0 $spacer;
      display: block;
      width: 100%;
      font-size: $font-size-sm;
      color: $gray-600;

      a {
        font-weight: normal;
        color: $gray-600;
        text-decoration: underline;

        &:hover {
          color: $gray-800;
        }
      }
    }
  }



  /**
   * TOC
   */

  /* hide .toctogglespan, introduced in MW 1.32 */
  #tweekiTOC .toctogglespan {
    display:none;
  }

  #tweekiTOC #toc {
    width:100%;
  }

  #tweekiTOC #toctitle h2, /* backwards compatibility for MW <1.30 */
  #tweekiTOC .toctitle h2 {
    font-size:10pt;
    margin:0;
    margin-top:35px;
    line-height:1.7em;
    font-weight:bold;
    text-transform:uppercase;
  }

  #tweekiTOC #toctitle h2 a, /* backwards compatibility for MW <1.30 */
  #tweekiTOC .toctitle h2 a {
    font-size: 7pt;
    font-weight: normal;
    padding-left: 5px;
    text-transform:none;
  }

  #sidebar #tweekiTOC {
    position:relative;
    height:100%;
    overflow:hidden;
    width:105%;
  }

  /* hide by default and make it visible by javascript only */
  #tweekiDropdownTOC {
    display:none;
  }
  #toc {
    display:none;
  }

  #tweekiTOC #toc ul > li > ul {
    display:none;
  }

  #tweekiTOC #toc ul > li a {
    color:#999;
  }

  #tweekiTOC #toc ul > li a:hover,
  #tweekiTOC #toc ul > li a:focus,
  #tweekiTOC #toc ul > li a:hover {
    color:#000;
  }

  #tweekiTOC #toc ul > li > ul a {
    font-size: small;
  }

  #tweekiTOC #toc li.active > ul {
    display:block;
  }

  #tweekiTOC #toc li.toclevel-1.active > a {
    border-left: 2px solid #bbb;
  }

  #tweekiTOC #toc li.active > a {
    color:#000;
  }

  #tweekiTOC #toc ul,
  #tweekiTOC .toc ul {
    margin:0 !important;
  }

  #tweekiTOC #toc .nav > li > a {
    padding: 0px 5px;
  }

  #tweekiTOC #toc .nav > li.toclevel-1 > a {
    padding: 2px 5px;
  }

  #tweekiTOC #toc .nav .nav li {
    padding-left:15px;
  }

  #tweekiTOC .toctoggle {
    display:none;
  }

  #tweekiTOC .tocnumber {
    display:none;
  }

  #tw-filetoc {
    margin-bottom:10px;
  }





  /**
   * Footer
   */
  .footer {
    display: block;
    // @include make-row();
    background: $gray-200;
    margin-top: auto !important;
    // margin-bottom: 0; // $spacer * 2;
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3;

    ul {
      padding: 0 0 0 $spacer;
      margin: $spacer 0;
      color: $gray-600;

      a {
        color: $gray-600;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: $gray-800;
          cursor: pointer;
        }
      }
    }
  }

  /**
   * Cookie Warning
   */
  .mw-cookiewarning-container {
    top:unset;
    bottom:0;
    text-align:center;
  }

  .mw-editsection-bracket {
    display:none;
  }

  /**
   * Theme corrections
   */
   /**

  /* FORM BUTTONS (derived from .btn + .btn-default) */
  /* .btn-default { */
  input[type=submit], input[type=button] {
    @extend .btn;
    @extend .btn-secondary;
  }

  /*.btn-default:active,
  .btn-default.active,*/
  input[type=submit]:active, input[type=button]:active,
  input[type=submit].active, input[type=button].active {
    // @extend .btn;
    // @extend .btn-secondary;
  }

  /*.btn-default {* /
  input[type=submit], input[type=button] {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
  }
  /*.btn-default:hover,
  .btn-default:focus {* /
  input[type=submit]:hover, input[type=button]:hover,
  input[type=submit]:focus, input[type=button]:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
  }
  /*.btn-default:active,
  .btn-default.active {* /
  input[type=submit]:active, input[type=button]:active,
  input[type=submit].active, input[type=button].active {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
  }
  /*.btn-default.disabled,
  .btn-default:disabled,
  .btn-default[disabled] {* /
  input[type=submit]:disabled, input[type=button]:disabled,
  input[type=submit].disabled, input[type=button].disabled,
  input[type=submit][disabled], input[type=button][disabled] {
    background-color: #e0e0e0;
    background-image: none;
  }
  /**/
}




/**
 * Tweeki Base (less import)
 */

/**
 * Tweeki screen styles
 *
 * part of this has been taken from Garret LeSage's Strapping
 */


/* correction for internal links with fixed navbar */
.with-navbar.with-navbar-fixed .mw-headline {
  padding-top: 70px;
}

/* hack to make scrollspy work in safari, chrome etc. */
/* mw-headline needs to consume space on the screen to be considered “visible” */
.with-navbar.with-navbar-fixed .mw-headline {
  padding-left:1px;
  margin-left:-1px;
}


/**
 * CONTENT
 */

#content {
  clear:both;
  margin-bottom:1em;
  padding-top:.5em;
  padding-bottom:1em;
}

@include media-breakpoint-up(md) {
  #content {
    padding:1em 2em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
  }
}



/**
 * CORRECTION FOR MAIN CONTENT
 */
.with-navbar {
}

.without-navbar {
  padding-top:20px;
}

.with-navbar.with-navbar-fixed {
  padding-top:60px;
}

/* navigation - accessibility */
#mw-navigation h2 {
    position: absolute;
    top: -9999px;
}

/* image in brand */
.navbar-brand img {
  height:40px;
  margin-top:-10px;
}

/* correction for searchform in navbar */
#searchform + .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

/* correction for dropdowns (conflicting with mediawiki.legacy.shared) */
.mw-content-ltr ul.dropdown-menu {
  margin: 2px 0 0;
  padding: 5px 0;
}

/* correction for selflinks in dropdowns (they're no links actually) */
.dropdown-menu > li > .selflink {
  padding: 3px 20px;
  display: block;
}

/* correction for uls */
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
  margin:.3em 0 .6em 1.6em;
}

/**
 * SMALL CORRECTIONS
 */

/* postedit: would otherwise be hidden behind navbar */
.postedit {
  top: 5em !important;
}

/* editsectionlink: hide brackets */
.mw-editsection-bracket {
  display:none;
}

/* show editsectionlink only on hover */
.tw-editsection-onhover {
  display:none;
  color:#ccc;
}
.tw-editsection-onhover:hover,
.tw-editsection-onhover:focus {
  color:#666;
  text-decoration:none;
}
.mw-editsection {
  vertical-align:middle;
}
h1:hover .tw-editsection-onhover,
h2:hover .tw-editsection-onhover,
h3:hover .tw-editsection-onhover,
h4:hover .tw-editsection-onhover,
h5:hover .tw-editsection-onhover,
h6:hover .tw-editsection-onhover {
  display:inline-block;
}

/* hide categories */
#catlinks {
  display:none;
}

/* make edit window bigger */
#wpTextbox1 {
  width:100%;
}

.firstHeading,
.tweekiFirstHeading {
  text-align:center;
  margin-bottom:15px;
  margin-top:10px;
  font-weight:600;
  letter-spacing:-.01em;
}

.tweekiFirstHeading {
  background-color:#fff;
  border:1px dashed #ccc;
  padding:5px;
  border-radius:2px;
}

.firstHeading .namespace {
  font-weight:300;
}

/* Hide empty portlets */
div.emptyPortlet {
  display: none;
}

/* Sub-navigation */
#siteSub {
  display: none;
}

#jump-to-nav {
  display: none;
}

div#content .printfooter {
  display: none;
}

label {
  display:inline-block;
  padding-top:5px;
}

input[type=radio], input[type=checkbox] {
  margin:-2px 0 0;
}


/**
 * HISTORY
 */

#contentSub br {
  display: none;
}

#mw-revision-info,
#mw-revision-nav {
  background: #f6f6f6;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: auto;
}

#mw-revision-info {
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  font-size: 16px;
  padding-bottom: 0.25em;
}

#mw-revision-nav {
  border-radius: 0 0 6px 6px;
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

/**
 * LOGIN-EXT
 */

#loginext {
  padding:0 10px;
}

@include media-breakpoint-up(md) {
  #loginext {
    width:250px;
  }
}

#loginext .form-group {
    margin-bottom:2px;
}

#loginext #wpLoginAttempt2 {
    margin-top:8px;
    margin-bottom:5px;
}

#loginext label {
    margin-bottom: 3px;
}

#tw-createaccount {
  text-align:center;
}

.dropdown-menu > li#tw-createaccount > a:hover,
.dropdown-menu > li#tw-createaccount > a:focus {
  color:#000;
  background-color:transparent;
}




/**
 * Visual Editor
 */
.ve-ui-toolbar *,
.ve-ui-overlay * {
  box-sizing:content-box;
}



